// Responsive breakpoints
$breakpoint-xxs: 375px; // react-flexbox-grid xs goes from 1 to 575px
$breakpoint-xs: 576px; // react-flexbox-grid sm starts at 576px
$breakpoint-sm: 768px; // react-flexbox-grid md starts at 768px
$breakpoint-md: 992px; // react-flexbox-grid lg starts at 992px

// Z-Indexes
$zindex-dropdown: 1000 !default;
$zindex-sticky: 1020 !default;
$zindex-fixed: 1030 !default;
$zindex-modal-backdrop: 1040 !default;
$zindex-modal: 1050 !default;
$zindex-popover: 1060 !default;
$zindex-tooltip: 1070 !default;
