$marketing-background: #f2f2f2;
$presentation-font-color: #fff;

.marketing-home {
  min-width: 100%;
  min-height: 100%;
  background-color: $marketing-background;
  text-align: center;
  padding-top: 10%;

  .marketing-home-grid-list {
    padding-top: 64px;
    display: inline-flex;
    width: 75%;
  }

  .pricing-chart {
    padding-top: 5%;
  }
}
