$link-color: #fff;
$link-color-dark: #000;
$link-color-blue: #3f51b5;

a {
  &.route-link {
    text-decoration: none;
    color: $link-color;

    &.dark {
      color: $link-color-dark;
    }

    &.blue {
      color: $link-color-blue;
    }
  }
}
