.bill-header-div-padding {
  padding: 5px 10px;
}

.bill-letter {
  font-size: 34px;
  font-weight: bold;
  border-left: 2px solid black;
  border-right: 2px solid black;
  border-bottom: 2px solid black;
}

.bill-from-havok {
  font-size: 12px;
}
