.bill-client-header-container {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  padding: 10px 20px;
}

.bill-client-payment-type {
  padding: 10px 20px;
  border-bottom: 1px solid black;
}

.coso-box {
  border: 1px solid black;
}

.payment-method-box-title {
  margin: 0px 10px;
}

.payment-method-box-value {
  padding: 0px 10px;
  border: 1px solid black;
}
