.bill-product-detail-data-box {
  padding: 10px 20px;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
  min-height: 41px;
}

.bill-product-detail-data-box-last {
  padding: 10px 20px;
  border-bottom: 1px solid black;
}

.centered-header {
  text-align: center;
}

.bill-totals-title-box {
  border-bottom: 1px solid black;
  border-right: 1px solid black;
  padding: 10px 20px;
}

.bill-totals-value {
  border-bottom: 1px solid black;
  padding: 10px 20px;
}

.bill-totals-row-box {
  border-right: 1px solid black;
}
