@import '../../styles/global-params';
@import '../../styles/mixins';

$calc-children-container: calc(#{$breakpoint-md} + 16px * 2);

.page-layout-container {
  width: 100%;
  height: 83vh;
  margin-top: 96px;

  .page-layout-children-container {
    max-width: $calc-children-container;
    margin: 0 auto;
    display: flex;
    min-height: 100%;
    flex-direction: column;
    height: 100%;

    @include from-md {
      width: 100%;
      min-width: 100%;
    }
  }
}
